@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

//fonts
$font-family: "Nunito Sans", sans-serif;
$font-size-lg: 20px;
$font-size: 16px;
$font-size-sm: 14px;

//fontweights
$font-weight: 300;
$font-weight-m: 600;
$font-weight-b: 800;

//colors
$Blue-950: hsl(207, 26%, 17%);
$Blue-900: hsl(209, 23%, 22%);
$Blue-800: hsl(211, 27%, 30%);
$Grey-950: hsl(200, 15%, 8%);
$Grey-600: hsl(0, 0%, 30%);
$Grey-400: hsl(0, 0%, 50%);
$Grey-300: hsl(0, 0%, 70%);
$Grey-200: hsl(0, 0%, 80%);
$Grey-100: hsl(0, 0%, 95%);
$Grey-50: hsl(0, 0%, 99%);
$White: hsl(0, 100%, 100%);
